.wrap {
    width: 100%;
    /* height: 50vh; */
    /* background-color: palegreen; */
    display: flex;
    /* padding: 0vmax 3vmax; */
    position: relative;
}

.left {
    min-width: 60vmax;
    max-height:89vh;
    padding-left: 15vh;
    background-color: rgba(240, 169, 169, 0.493);
    overflow-y: hidden;
}

.right {
    width: 30vmax;
    height: fit-content;
    position: fixed;
    right: 0%;
    padding: 2vh 4vh;
    /* background-color: rgb(159, 216, 112); */
}

.topBar {
    width: 60.7%;
    height: 9vh;
    padding-top: 1vh;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(175, 175, 175);
    display: flex;
    align-items: center;
    gap: 1.5vmax;
    top: 7%;
    position: fixed;
}

.articles {
    margin-top: 1.5vh;
    margin-left: -7vw;
}